/* Estilos generales */
.skills-section {
    text-align: center;

    background-color: #fafafa00;
    border-bottom: 1px solid #ddd;
}
.section-title {
    font-size: 2rem; 
    font-weight: 700; 
    color: #333;
    margin-bottom: 2rem; 
    letter-spacing: 0.5px;
}

/* Contenedor de las tarjetas con rotación automática */
.skills-container {
    display: flex;
    overflow: hidden;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    position: relative; /* Para posicionar las flechas dentro del contenedor */
}

/* Flechas */
.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.arrow-btn.left {
    left: 10px;
}

.arrow-btn.right {
    right: 10px;
}

/* Hacer que las tarjetas se deslicen suavemente */
.skills-container-content {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

/* Estilo de las tarjetas */
.skill-card {
    flex: 0 0 auto;
    width: 280px; 
    margin-right: 2rem; /* Espaciado entre tarjetas */
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 12px; 
    padding: 2rem; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease-in-out;
}

.skill-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.skill-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #444;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.skill-description {
    font-size: 1rem;
    line-height: 1.7;
    color: #666;
    margin-bottom: 1.5rem;
    text-align: left;
}


