/* Contenedor principal */
.skills-section {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-bottom: 2px solid #e0e0e0;
}

.section-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #212529;
    margin: 0;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
}

.skill-card {
    background: #f1f3f5;
    border: 1px solid #dee2e6;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.skill-title {
    font-size: 1.5rem;
    font-weight: bold; /* O puedes usar 700 */
    color: #000000;
    margin-bottom: 10px;
}


.skill-description {
    font-size: 1rem;
    line-height: 1.5;
    color: #6c757d;
    text-align: justify;
}